* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #222;
  color: white;
}

#img {
  display: flex;
  flex-direction: column-reverse;
  object-fit: cover;
}

#img img {
  width: 10rem;
}

#title {
  color: white;
}

#btnNext,
#btnPrev {
  margin-top: 1rem;
}
